<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> 自用的开发速查表清单。
      有意见与建议? <a href='https://github.com/SmallRaw/cheatsheets/issues/1'>意见反馈</a>.
      <i class='fleuron'></i>
      看看我今天有没有写 <a href="https://blog.smallraw.com">博客</a>.
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='.#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
